<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <import resource="eyas/base/security/shiro/shiro.xml" /> -->
	<import resource="eyas/base/service/baseService.xml" />
<!-- 	<import resource="txManager_atomikos.xml" /> -->
<!-- 	<import resource="txManager_ArjunaTS.xml" /> -->
	<import resource="txManager_javaeeContainer.xml" />
	<!-- <import resource="testSpringConfig.xml" /> -->
</beans>